@media (max-width:600px){
  .nav-links li a{
    display: none;
  }
  .nav-links i{
    color: #fff;
    font-size: 6vw;
    display: inline-block;
} 
  .wrapper .logo a{
    font-size: 4vw;
    padding-left: 6vh;
  }
  .box > h1{
    font-size: 4vw;
    margin-right: 30%;
    padding-left: 2vh;
  }
  .box > h2{
    font-size: 4vw;
    margin-right: 30%;
    padding-left: 5vh;
  }

.slider{
  display: none;
}
.box > .buttons{
  font-size: 4vw;
  padding: 12px 35px 12px 35px;
  margin-right: 40%;
  text-align: center;
}
.buttons > .signup{
  font-size: 2vw;
}
.buttons > .login{
  font-size: 2vw;
}
input{
  font-size: 2vw;
  padding: 10px 35px 10px 35px;
}
}